[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Chromium
Exec=/usr/bin/chromium-browser %U
Terminal=false
Icon=chromium-browser
Type=Application
Categories=Application;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;
