[alias]
br = branch
st = status
co = checkout
ci = commit
# http://upsilon.cc/~zack/blog/posts/2010/01/git_flag_of_the_day_--color-words/
wdiff = diff --color-words
wshow = show --color-words

[color]
ui = auto
[user]
	name = Wei Hu
	email = weihu@cs.virginia.edu
[push]
	default = matching
[branch "master"]
  remote = origin
  merge = refs/heads/master
[merge]
	log = true
