! https://wiki.archlinux.org/index.php/Rxvt-unicode
! rxvt-unicode-256color was removed from [community], use rxvt-unicode from [archlinuxfr] instead (seems newer than [extra])
! urxvt supports search with M-s
URxvt.font: xft:Inconsolata-16,xft:WenQuanYi Zen Hei Mono
URxvt.scrollBar_right: True
Rxvt.jumpScroll: True
Rxvt.skipScroll: True
URxvt.preeditType: OnTheSpot
URxvt.scrollTtyOutput: False
URxvt.scrollWithBuffer: True
URxvt.scrollTtyKeypress: True
URxvt.fading: 40
URxvt.saveLines: 1000000

! Colors taken from http://ezyang.scripts.mit.edu/blog/2010/01/rxvt-unicode-for-gnome-terminal-refugees/
URxvt*background: black
URxvt*foreground: white
! black
URxvt*color0  : #2E3436
URxvt*color8  : #555753
! red
URxvt*color1  : #CC0000
URxvt*color9  : #EF2929
! green
URxvt*color2  : #4E9A06
URxvt*color10 : #8AE234
! yellow
URxvt*color3  : #C4A000
URxvt*color11 : #FCE94F
! blue
URxvt*color4  : #3465A4
URxvt*color12 : #729FCF
! magenta
URxvt*color5  : #75507B
URxvt*color13 : #AD7FA8
! cyan
URxvt*color6  : #06989A
URxvt*color14 : #34E2E2
! white
URxvt*color7  : #D3D7CF
URxvt*color15 : #EEEEEC

! My urxvt perl extensions
! Ctrl-select to copy text into clipboard
! Another trick: Shift-click to move around
! And some scripts from http://github.com/muennich/urxvt-perls, https://bbs.archlinux.org/viewtopic.php?id=102671
URxvt.perl-lib: /home/wh5a/.urxvt

! man urxvtperl
URxvt.perl-ext-common: default,-option-popup,matcher,-selection-popup,xim-onthespot,ctrl-clipboard,url-select,clipboard
URxvt.urlLauncher: chromium
URxvt.matcher.rend.0: fg8 Uline Italic
! M-c copy to clipboard,  C-Ins paste from clipboard
URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.C-Insert:   perl:clipboard:paste
! M-u to start navigating URLs, and j/k to move between them.
URxvt.keysym.M-u: perl:url-select:select_next
!URxvt.colorUL: #86a2be
! Right click to launch the URL
URxvt.matcher.button: 3

! Disable Ctrl-Shift key combo
URxvt.iso14755: False
! The default TERM value rxvt-unicode-256color is not available under /usr/share/terminfo/r/ on older systems
URxvt.termName: rxvt-256color

Xcursor.theme: whiteglass
Xcursor.size: 25

!Emacs.useXIM: false
!Emacs.font: Inconsolata-14
