Rxvt.background: black
Rxvt.foreground: white
URxvt.font: xft:Inconsolata-16
URxvt.scrollBar_right: True
Rxvt.jumpScroll: True
Rxvt.skipScroll: True
URxvt.preeditType: OnTheSpot
URxvt.scrollTtyOutput: False
URxvt.scrollWithBuffer: True
URxvt.scrollTtyKeypress: True

! man urxvtperl
URxvt.perl-ext-common: default,-option-popup,matcher,-selection-popup,xim-onthespot
URxvt.urlLauncher: firefox
URxvt.matcher.rend.0: fg8 Uline Italic
!URxvt.colorUL: #86a2be
! Right click to launch the URL
URxvt.matcher.button: 3

Xcursor.theme: whiteglass
Xcursor.size: 25

!Emacs.useXIM: false
Emacs.font: Inconsolata-10
